.cmd-item {
  margin-bottom: 20px;
  &__info{
    display: flex;
  }
  &__label {
    color: #79baa4;
    margin-right: 10px;

  }
  &__command{
    color: #FF8000;
  }
  &__text{
    color: white;
    white-space: pre-wrap;
  }
}
